<div class="col-md-9 col-xs-12">	
	
	<h1>New Article <br><small class: 'text-danger'>NOTE**: Please Refresh Browser to remove cache in your Computer</small></h1>

	<%= render 'form' %>

	<%= link_to 'Back', articles_path %>
	<br>
	<br>
</div>