<div class="container-fluid">	
	<div class="row bg-default">	
		<div class="col-xs-6 col-lg-4">
	        <h3>Info:</h3>
	        <ul class="list-unstyled">
			  <li>About Us</li>
			  <li>Contact Us</li>
			  <li>Pasang Coupon</li>
			  <li>Pasang Iklan</li>
			</ul>
	    </div><!--/.col-xs-6.col-lg-4-->
	    <div class="col-xs-6 col-lg-4">
	        <h3 class="text-center">Update Media Acara</h3>
	        <ul class="list-unstyled text-center">
			  <li>Facebook</li>
			  <li>Twitter</li>
			  <li>Instagram</li>
			  <li>Youtube</li>
			  <li>Daftar Email</li>
			</ul>
	    </div><!--/.col-xs-6.col-lg-4-->
	    <div class="col-xs-6 col-lg-4">
	        <h3 class="text-right">Our Groups</h3>
	        <ul class="list-unstyled text-right">
			  <li>Media Acara</li>
			  <li>Promosi Barang & Jasa</li>
			  <li>Iklan Gratis</li>
			  <li>Pasang Iklan</li>
			</ul>
	    </div><!--/.col-xs-6.col-lg-4-->
    </div>

    <div class="row bg-danger">
		<p align="center">&copy; 2015 VendorPernikahan.Com</p>
	</div>
</div>