<div class="container">	
	<div class="row bg-default">	
		<div class="col-xs-5 col-md-4">
	      <h3>Info</h3>
	      <ul class="list-unstyled">
			  <li><a href="#"><i class="fa fa-user fa-lg"></i></a> - About Us</li>
			  <li><a href="#"><i class="fa fa-phone fa-lg"></i></a> - Contact Us</li>
			  <li><a href="#"><i class="fa fa-ticket fa-lg"></i></a> - Pasang Coupon</li>
			  <li><a href="#"><i class="fa fa-pencil fa-lg"></i></a> - Pasang Iklan</li>
			</ul>
	  </div><!--/.col-xs-6.col-lg-4-->
	  <div class="col-xs-5 col-md-4">
	    <h3 class="">Social Media</h3>
	    <ul class="list-unstyled">
			  <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a> - Twitter</li>
				<li><a href="#"><i class="fa fa-facebook fa-lg"></i></a> - Facebook</li>
				<li><a href="#"><i class="fa fa-instagram fa-lg"></i></a> - Instagram</li>
				<li><a href="#"><i class="fa fa-youtube fa-lg"></i></a> - Youtube</li>
			</ul>
	  </div><!--/.col-xs-6.col-lg-4-->
	  <div class="col-xs-5 col-md-4">
	    <h3 class="">Our Groups</h3>
	    <ul class="list-unstyled">
			  <li>Media Acara</li>
			  <li>Promosi Barang & Jasa</li>
			  <li>Iklan Gratis</li>
			  <li>Pasang Iklan</li>
			</ul>
	  </div><!--/.col-xs-6.col-lg-4-->
  </div>
</div>

	
	<div class="row bg-default" style="background-color:#B3B2B2; padding-top:6px">
		<p align="center">&copy; 2015 VendorPernikahan.Com</p>
	</div>