<!-- lefside -->
<div class="leftside col-md-2 col-sm-3 col-xs-6">
	<p align="center" style="padding-top:10px">
	<%= image_tag(@article.admin.image_url, width: '35', height: '35', class: 'img-circle txt-center', :alt => 'admfoto') %> 
	</p>
	<hr>
	<ul class="list-unstyled list-inline">
		<li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
		<li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
		<li><a href="#"><i class="fa fa-instagram fa-lg"></i></a></li>
		<li><a href="#"><i class="fa fa-youtube fa-lg"></i></a></li>
	</ul>   
	<hr>        
</div>