<div class="row-header" style="background: #ccc url(http://res.cloudinary.com/medio/image/upload/v1438573889/wedding-wall_pywnxx.jpg);">
<!-- background-image: url("paper.gif"); -->
  <header>
    <!-- <div id="logo" align="center">
    	<%= image_tag("logo_vp_word1.png", :alt => "logvp") %>
    </div> -->
    
    <div id="logo" align="center" style="padding-top:15px">
    	<form class="navbar-form" role="search">
	      <div class="form-group">
	        <input type="text" class="form-control" placeholder="Search Vendor">
	      </div>
	      <div class="form-group">
	        <input type="text" class="form-control" placeholder="Kota">
	      </div>
	      <button type="submit" class="btn btn-default">Find</button>
	    </form>
    </div>

  <!-- <div>  
    <form id="frm-slide-vendors" action="http://www.weddingku.com/searchvendors.asp" method="get">
                <div class="cover">
                	<div id="scity" name="scity" onClick="$('#slidevendorcategories').hide();$('#slidevendorcities').toggle();" class="inputtext custom-select" style="width:200px;">All City</div>
                    <input type="hidden" name="city" id="city" value="" class="filter-city" />
                    <div id="sdc" name="sdc" onClick="$('#slidevendorcities').hide();$('#slidevendorcategories').toggle();" class="inputtext custom-select">All Category</div>
                    <input type="hidden" name="dc" id="sdcid" value="" />
                    <button id="btsearchvendor" class="btn btn-large"><i class="fa fa-search fa-lg"></i>&nbsp;Find Vendors</button>
                    <div class="clear"></div>
                </div>
  				</form>
    </div> -->
    
  </header>
</div>