	<div class="row-header">
        <header>
            <div id="logo" align="center">
              <%= image_tag("logo_vp_word1.png", :alt => "logvp") %>
            </div>
        </header>
    </div>