<div class="row-header img-responsive" style="background: #ccc url(http://res.cloudinary.com/medio/image/upload/v1438573889/wedding-wall_pywnxx.jpg);">
<!-- background-image: url("paper.gif"); -->
  <header>
    <!-- <div id="logo" align="center">
    	<%= image_tag("logo_vp_word1.png", :alt => "logvp") %>
    </div> -->
    
    <div id="logo" align="center" style="padding-top:15px">
    	<form class="navbar-form" role="search">
	      <div class="form-group">
	        <input type="text" class="form-control" placeholder="Search Vendor">
	      </div>
	      <div class="form-group">
	        <input type="text" class="form-control" placeholder="Kota">
	      </div>
	      <button type="submit" class="btn btn-default">Find</button>
	    </form>
    </div>

  </header>
</div>