<div class="container-fluid" align="center" style="background: #453938; margin:auto">
	<div class="row">
		<%= image_tag("coming-s-edit.jpg", :alt => 'undev', class: 'img-responsive') %>
	</div>
</div>
<div class="container-fluid" align="center" style="background: #453938; margin:auto">
	<div class="row">
		<%= image_tag("coming-s-edit.jpg", :alt => 'undev', class: 'img-responsive') %>
	</div>
</div>