
	<div class="bs-example" data-example-id="contextual-panels">
 		<h1>Welcome to Vendor Page</h1>
		<div class="row">
			<div class="col-sm-3">	  
		    <div class="panel panel-danger">
		      <div class="panel-heading">
		        <h3 class="panel-title">Panel title</h3>
		      </div>
		      <div class="panel-body">
		        Panel content
		      </div>
		  	</div>
		  </div>
		  <div class="col-sm-3">
		    <div class="panel panel-danger">
		      <div class="panel-heading">
		        <h3 class="panel-title">Panel 2</h3>
		      </div>
		      <div class="panel-body">
		        Panel content
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-3">
		    <div class="panel panel-primary">
		      <div class="panel-heading">
		        <h3 class="panel-title">Panel 2</h3>
		      </div>
		      <div class="panel-body">
		        Panel content
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-3">
		    <div class="panel panel-primary">
		      <div class="panel-heading">
		        <h3 class="panel-title">Panel 2</h3>
		      </div>
		      <div class="panel-body">
		        Panel content
		      </div>
		    </div>
		  </div>  
	  </div>
	  
	  <div class="row">  
		  <div class="col-sm-6">	  
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h3 class="panel-title">Panel title</h3>
		      </div>
		      <div class="panel-body">
		        Panel content
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6">	  
		    <div class="panel panel-primary">
		      <div class="panel-heading">
		        <h3 class="panel-title">Panel title</h3>
		      </div>
		      <div class="panel-body">
		        Panel content
		      </div>
		    </div>
	  	</div>
	  </div>
	  
	  <div class="row">  
		  <div class="col-sm-6">	  
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h3 class="panel-title">Panel title</h3>
		      </div>
		      <div class="panel-body">
		        Panel content
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6">	  
		    <div class="panel panel-primary">
		      <div class="panel-heading">
		        <h3 class="panel-title">Panel title</h3>
		      </div>
		      <div class="panel-body">
		        Panel content
		      </div>
		    </div>
	  	</div>
	  </div>

	  <div class="row">  
		  <div class="col-sm-12">	  
		    <div class="panel panel-default">
		      <!-- <div class="panel-heading">
		        <h3 class="panel-title">Panel title</h3>
		      </div> -->
		      <div class="panel-body">
		        Panel content
		      </div>
		    </div>
		  </div>		  
	  </div>
	  <div class="row">  
		  <div class="col-sm-12">	  
		    <div class="panel panel-success">
		      <div class="panel-heading">
		        <h3 class="panel-title">Panel title</h3>
		      </div>
		      <div class="panel-body">
		        Panel content
		      </div>
		    </div>
		  </div>		  
	  </div>

	</div>
    