<div class="jumbotron">
  <div class="container">
    <h1>Ups! Maaf</h1>
    <h2>Anda Tidak Memiliki Akses Untuk Masuk Ke Halaman Member</h2>
    <p>Untuk mendapatkan fasilitas <strong>Vendor Member</strong> kami silahkan Upgrade Akun anda <%= link_to 'Disini' %></p>
  </div>
</div>