<div class="container">
	<div class="row">
		
		<div class="col-md-6 col-md-offset-1 ">	
			<h1 class="bg-primary text-center">Contact Us</h1>

			<%= render 'form' %>
		
		</div>	

		<div class="col-md-3">
			<h1 class="bg-primary text-center">Contact Info</h1>
			<address>
				<strong>Vendor Pernikahan Dot Com</strong><br>
				795 Folsom Ave, Suite 600<br>
  			San Francisco, CA 94107<br>
  			<strong>Email:</strong><br>
  			vendorpernikahan@gmail.com<br>
			</address> 
		</div>
	</div>	
</div>